In [1]:
#Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
#Import dataset
attrition_df = pd.read_csv('Resources/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == 'object'].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [4]:
# Unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [5]:
# OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

#Fit and transform the OneHotEncoder
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

#Add the encoded variable names to the DF
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Merge and Drop
attrition_df = attrition_df.merge(encode_df, left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_No',
       'Attrition_Yes', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Female', 'Gender_Male',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y',
       'OverTime_No', 'OverTime_Yes'],
      dtype='object')

In [8]:
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [10]:
# Split data into features and targets
y = attrition_df['Attrition_Yes'].values
X = attrition_df.drop(["Attrition_Yes", "Attrition_No"], 1).values

In [11]:
# Split into test and training
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

#First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1,
                         input_dim=number_input_features,
                         activation='relu')
)
#Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2,
                            activation='relu')
)

#Output layer
nn.add(
    tf.keras.layers.Dense(units=1,
                         activation='sigmoid')
)

#Check model structure
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Complie the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
#Train model
fit_model=nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 668us/step - loss: 114.4459 - accuracy: 0.8244
Epoch 2/100
35/35 [==============================] - 0s 527us/step - loss: 21.2223 - accuracy: 0.7040
Epoch 3/100
35/35 [==============================] - 0s 632us/step - loss: 15.9430 - accuracy: 0.7077
Epoch 4/100
35/35 [==============================] - 0s 639us/step - loss: 10.9202 - accuracy: 0.7087
Epoch 5/100
35/35 [==============================] - 0s 657us/step - loss: 8.1276 - accuracy: 0.6844
Epoch 6/100
35/35 [==============================] - 0s 660us/step - loss: 4.2094 - accuracy: 0.7222
Epoch 7/100
35/35 [==============================] - 0s 718us/step - loss: 2.5293 - accuracy: 0.7244
Epoch 8/100
35/35 [==============================] - 0s 697us/step - loss: 3.3274 - accuracy: 0.7133
Epoch 9/100
35/35 [==============================] - 0s 723us/step - loss: 3.1452 - accuracy: 0.7398
Epoch 10/100
35/35 [==============================] - 0s 685us/step - loss: 2.0708 - accuracy: 0.7197
Epoch 11/100
35/35 [==============================] - 0s 736us/step - loss: 2.2808 - accuracy: 0.7050
Epoch 12/100
35/35 [==============================] - 0s 717us/step - loss: 2.3258 - accuracy: 0.7111
Epoch 13/100
35/35 [==============================] - 0s 704us/step - loss: 1.8519 - accuracy: 0.7289
Epoch 14/100
35/35 [==============================] - 0s 730us/step - loss: 1.2964 - accuracy: 0.7285
Epoch 15/100
35/35 [==============================] - 0s 698us/step - loss: 2.0567 - accuracy: 0.6706
Epoch 16/100
35/35 [==============================] - 0s 704us/step - loss: 3.0190 - accuracy: 0.6752
Epoch 17/100
35/35 [==============================] - 0s 720us/step - loss: 2.0563 - accuracy: 0.6944
Epoch 18/100
35/35 [==============================] - 0s 697us/step - loss: 1.8774 - accuracy: 0.7651
Epoch 19/100
35/35 [==============================] - 0s 691us/step - loss: 1.4228 - accuracy: 0.7565
Epoch 20/100
35/35 [==============================] - 0s 652us/step - loss: 2.1815 - accuracy: 0.7488
Epoch 21/100
35/35 [==============================] - 0s 696us/step - loss: 1.6062 - accuracy: 0.7594
Epoch 22/100
35/35 [==============================] - 0s 675us/step - loss: 1.4793 - accuracy: 0.7741
Epoch 23/100
35/35 [==============================] - 0s 691us/step - loss: 1.3979 - accuracy: 0.7813
Epoch 24/100
35/35 [==============================] - 0s 702us/step - loss: 1.4974 - accuracy: 0.7744
Epoch 25/100
35/35 [==============================] - 0s 685us/step - loss: 2.0790 - accuracy: 0.7307
Epoch 26/100
35/35 [==============================] - 0s 697us/step - loss: 1.3075 - accuracy: 0.7616
Epoch 27/100
35/35 [==============================] - 0s 664us/step - loss: 1.9206 - accuracy: 0.7333
Epoch 28/100
35/35 [==============================] - 0s 673us/step - loss: 1.6118 - accuracy: 0.7682
Epoch 29/100
35/35 [==============================] - 0s 661us/step - loss: 1.0298 - accuracy: 0.7948
Epoch 30/100
35/35 [==============================] - 0s 665us/step - loss: 1.1353 - accuracy: 0.7773
Epoch 31/100
35/35 [==============================] - 0s 653us/step - loss: 1.4227 - accuracy: 0.7602
Epoch 32/100
35/35 [==============================] - 0s 664us/step - loss: 1.1661 - accuracy: 0.7325
Epoch 33/100
35/35 [==============================] - 0s 698us/step - loss: 1.2392 - accuracy: 0.7584
Epoch 34/100
35/35 [==============================] - 0s 672us/step - loss: 2.0000 - accuracy: 0.7579
Epoch 35/100
35/35 [==============================] - 0s 648us/step - loss: 1.3235 - accuracy: 0.7672
Epoch 36/100
35/35 [==============================] - 0s 716us/step - loss: 1.2552 - accuracy: 0.7551
Epoch 37/100
35/35 [==============================] - 0s 714us/step - loss: 1.1774 - accuracy: 0.7666
Epoch 38/100
35/35 [==============================] - 0s 702us/step - loss: 1.1644 - accuracy: 0.7157
Epoch 39/100
35/35 [==============================] - 0s 764us/step - loss: 1.3893 - accuracy: 0.7363
Epoch 40/100
35/35 [==============================] - 0s 679us/step - loss: 1.5373 - accuracy: 0.7281
Epoch 41/100
35/35 [==============================] - 0s 679us/step - loss: 2.8082 - accuracy: 0.6902
Epoch 42/100
35/35 [==============================] - 0s 714us/step - loss: 1.0197 - accuracy: 0.7535
Epoch 43/100
35/35 [==============================] - 0s 686us/step - loss: 0.8370 - accuracy: 0.7899
Epoch 44/100
35/35 [==============================] - 0s 741us/step - loss: 1.0623 - accuracy: 0.8086
Epoch 45/100
35/35 [==============================] - 0s 678us/step - loss: 1.2413 - accuracy: 0.7453
Epoch 46/100
35/35 [==============================] - 0s 688us/step - loss: 0.7032 - accuracy: 0.8051
Epoch 47/100
35/35 [==============================] - 0s 706us/step - loss: 0.7193 - accuracy: 0.7931
Epoch 48/100
35/35 [==============================] - 0s 683us/step - loss: 1.1887 - accuracy: 0.7668
Epoch 49/100
35/35 [==============================] - 0s 735us/step - loss: 0.9906 - accuracy: 0.7775
Epoch 50/100
35/35 [==============================] - 0s 672us/step - loss: 0.9597 - accuracy: 0.7552
Epoch 51/100
35/35 [==============================] - 0s 707us/step - loss: 0.7256 - accuracy: 0.7875
Epoch 52/100
35/35 [==============================] - 0s 689us/step - loss: 0.9951 - accuracy: 0.7508
Epoch 53/100
35/35 [==============================] - 0s 691us/step - loss: 0.8039 - accuracy: 0.7791
Epoch 54/100
35/35 [==============================] - 0s 698us/step - loss: 1.3691 - accuracy: 0.7310
Epoch 55/100
35/35 [==============================] - 0s 674us/step - loss: 0.9803 - accuracy: 0.7577
Epoch 56/100
35/35 [==============================] - 0s 666us/step - loss: 0.7046 - accuracy: 0.8037
Epoch 57/100
35/35 [==============================] - 0s 660us/step - loss: 1.3320 - accuracy: 0.7346
Epoch 58/100
35/35 [==============================] - 0s 686us/step - loss: 0.7780 - accuracy: 0.7862
Epoch 59/100
35/35 [==============================] - 0s 645us/step - loss: 0.7125 - accuracy: 0.7936
Epoch 60/100
35/35 [==============================] - 0s 661us/step - loss: 0.7308 - accuracy: 0.7981
Epoch 61/100
35/35 [==============================] - 0s 658us/step - loss: 0.8473 - accuracy: 0.7600
Epoch 62/100
35/35 [==============================] - 0s 695us/step - loss: 0.8936 - accuracy: 0.7803
Epoch 63/100
35/35 [==============================] - 0s 613us/step - loss: 0.6803 - accuracy: 0.8071
Epoch 64/100
35/35 [==============================] - 0s 622us/step - loss: 0.6995 - accuracy: 0.7842
Epoch 65/100
35/35 [==============================] - 0s 593us/step - loss: 2.0059 - accuracy: 0.7759
Epoch 66/100
35/35 [==============================] - 0s 602us/step - loss: 1.5432 - accuracy: 0.7267
Epoch 67/100
35/35 [==============================] - 0s 599us/step - loss: 0.9312 - accuracy: 0.7523
Epoch 68/100
35/35 [==============================] - 0s 618us/step - loss: 1.1847 - accuracy: 0.7568
Epoch 69/100
35/35 [==============================] - 0s 591us/step - loss: 0.6677 - accuracy: 0.7870
Epoch 70/100
35/35 [==============================] - 0s 601us/step - loss: 0.6230 - accuracy: 0.8005
Epoch 71/100
35/35 [==============================] - 0s 609us/step - loss: 0.8867 - accuracy: 0.8055
Epoch 72/100
35/35 [==============================] - 0s 648us/step - loss: 1.4720 - accuracy: 0.6960
Epoch 73/100
35/35 [==============================] - 0s 614us/step - loss: 0.9575 - accuracy: 0.7895
Epoch 74/100
35/35 [==============================] - 0s 658us/step - loss: 0.8399 - accuracy: 0.7701
Epoch 75/100
35/35 [==============================] - 0s 625us/step - loss: 0.5963 - accuracy: 0.8198
Epoch 76/100
35/35 [==============================] - 0s 629us/step - loss: 0.6707 - accuracy: 0.8065
Epoch 77/100
35/35 [==============================] - 0s 623us/step - loss: 0.5975 - accuracy: 0.7957
Epoch 78/100
35/35 [==============================] - 0s 599us/step - loss: 1.2178 - accuracy: 0.7479
Epoch 79/100
35/35 [==============================] - 0s 648us/step - loss: 0.4882 - accuracy: 0.8353
Epoch 80/100
35/35 [==============================] - 0s 613us/step - loss: 0.5674 - accuracy: 0.8241
Epoch 81/100

35/35 [==============================] - 0s 606us/step - loss: 1.3079 - accuracy: 0.7814
Epoch 82/100
35/35 [==============================] - 0s 621us/step - loss: 0.7997 - accuracy: 0.7709
Epoch 83/100
35/35 [==============================] - 0s 628us/step - loss: 0.4862 - accuracy: 0.8252
Epoch 84/100
35/35 [==============================] - 0s 630us/step - loss: 0.5713 - accuracy: 0.8275
Epoch 85/100
35/35 [==============================] - 0s 647us/step - loss: 0.4908 - accuracy: 0.8254
Epoch 86/100
35/35 [==============================] - 0s 633us/step - loss: 0.8584 - accuracy: 0.7913
Epoch 87/100
35/35 [==============================] - 0s 630us/step - loss: 1.0686 - accuracy: 0.7423
Epoch 88/100
35/35 [==============================] - 0s 633us/step - loss: 0.9778 - accuracy: 0.8216
Epoch 89/100
35/35 [==============================] - 0s 630us/step - loss: 0.6741 - accuracy: 0.8009
Epoch 90/100
35/35 [==============================] - 0s 647us/step - loss: 0.4346 - accuracy: 0.8419
Epoch 91/100
35/35 [==============================] - 0s 651us/step - loss: 0.8870 - accuracy: 0.7917
Epoch 92/100
35/35 [==============================] - 0s 656us/step - loss: 0.4779 - accuracy: 0.8235
Epoch 93/100
35/35 [==============================] - 0s 665us/step - loss: 0.6171 - accuracy: 0.8035
Epoch 94/100
35/35 [==============================] - 0s 671us/step - loss: 0.6774 - accuracy: 0.8248
Epoch 95/100
35/35 [==============================] - 0s 672us/step - loss: 1.0025 - accuracy: 0.7980
Epoch 96/100
35/35 [==============================] - 0s 657us/step - loss: 1.4645 - accuracy: 0.7528
Epoch 97/100
35/35 [==============================] - 0s 630us/step - loss: 0.5381 - accuracy: 0.8281
Epoch 98/100
35/35 [==============================] - 0s 606us/step - loss: 0.7120 - accuracy: 0.8157
Epoch 99/100
35/35 [==============================] - 0s 617us/step - loss: 0.4414 - accuracy: 0.8343
Epoch 100/100
35/35 [==============================] - 0s 621us/step - loss: 0.7474 - accuracy: 0.7752

In [17]:
# Evaluate the model with the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)
print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

12/12 - 0s - loss: 0.4679 - accuracy: 0.8696
Loss: 0.46792975068092346, Accuracy: 0.8695651888847351